security/openssl-1.0.1i/
timeseries/hdf5
control/fanbin.crt
control/key.private
control/key.public
strategy/QuantLib-1.4
timeseries/stsdb/gmon.out
timeseries/stsdb/import
timeseries/stsdb/output
timeseries/stsdb/tags
*.h5

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
